<div class="dispense x-container">
  <div class="x-loader" *ngIf="loading">
    <app-loader [message]="message"></app-loader>
  </div>
  <div class="header">INVENTORY FORM</div>
  <div class="form">
    <div class="formheader">
      <h2>EXPIRY FORM</h2>
    </div>
    <div class="formitems">
      <!-- <div class="formgroup">
        <label for="outlet">outlet</label>
        <input
          list="stores"
          name="outlet"
          id="outlet"
          autocomplete="off"
          [(ngModel)]="outlet"
          (input)="getInventoryByStore()"
        />
        <datalist id="stores">
          <option *ngFor="let _outlet of stores" [value]="_outlet.name">
            {{ _outlet.name }}
          </option>
        </datalist>
      </div> -->
      <div class="formgroup">
        <label for="medicine">medicine</label>
        <input list="medicines" #y [(ngModel)]="medicine" />
        <datalist id="medicines">
          <option *ngFor="let _medicine of medicines" [value]="_medicine.name">
            {{ _medicine.name }}
          </option>
        </datalist>
      </div>

      <div class="formgroup">
        <label for="expiry">expiry</label>
        <input type="date" [(ngModel)]="expiryDate" />
      </div>

      <div class="formgroup">
        <button class="submit" (click)="add()">ADD EXPIRY</button>
      </div>
    </div>
  </div>

  <div class="items__container">
    <div class="head">
      <h2 class="head__content">
        ITEMS TO UPDATE EXPIRY ({{ payloads.length }})
        <span *ngIf="uploaded.length">UPLOADED ({{ uploaded.length }})</span>
        <span>ADDED: ({{ dispensed }})</span>
      </h2>
    </div>
    <div class="items">
      <table>
        <thead>
          <tr>
            <th>outlet</th>
            <th>medicine</th>
            <th>expiry</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of payloads">
            <td>{{ outlet }}</td>
            <td>{{ i.commodity }}</td>
            <td>{{ i.expiry }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dispense">
      <div class="formgroup submitted">
        <button class="submit" (click)="dispense()">SUBMIT INVENTORY</button>
      </div>
    </div>
  </div>
</div>
