.stock {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
}
.stock-info {
  position: relative;
  height: 100%;
}
.stock-menu {
  background-color: aqua;
}
.stock-loading {
  position: absolute;
  background-color: rgb(145, 138, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
  color: green;
  height: 100%;
  z-index: 1;
  opacity: 50%;
}
ul {
  height: 100%;
  list-style: none;
  padding: 2px;
}
li {
  height: 3vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  border: 0;
  border-radius: 5px;
}
li:hover {
  background-color: black;
  color: white;
}
.active {
  background-color: green;
  color: white;
}
