<div class="stock">
  <!-- code for menu -->
  <div class="stock-menu">
    <ul>
      <li (click)="getInventory()" [class.active]="store == ''">
        stock summary
      </li>
      <li
        *ngFor="let s of stores"
        (click)="getInventory(s.name)"
        [class.active]="store == s.name"
      >
        {{ s.name }}
      </li>
    </ul>
  </div>
  <!-- code for summary view -->
  <div class="stock-info">
    <div class="stock-loading" *ngIf="loading">
      fetching data {{ load_message }}
    </div>
    <div class="stock-container" *ngIf="stock.length > 0">
      <div class="heading">
        <div class="stock-search">
          <input
            type="text"
            name="searchinput"
            id="searchinput"
            class="search-item search-input"
            placeholder="search item"
            [(ngModel)]="term"
            #elem
            (keyup)="onChange(elem.value)"
          />

          <button
            class="search-item search-clear"
            id="clearbtn"
            (click)="onClear()"
          >
            CLEAR
          </button>
        </div>
        <h1>
          INVENTORY SUMMARY {{ store.length > 0 ? (store | uppercase) : "" }}
          {{ date.toLocaleDateString() }}
        </h1>
      </div>
      <div class="t-container">
        <table>
          <thead>
            <tr>
              <th>sn</th>
              <th>item</th>
              <th>unit</th>
              <th>quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of displayed">
              <td>{{ findIndex(item, stock) }}</td>
              <td>{{ item.commodity }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ approximate(item) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
