<div class="form">
  <div class="formheader">
    <h2>ORDER FORM</h2>
  </div>
  <div class="formitems">
    <div class="formgroup">
      <label for="medicine">medicine</label>
      <input
        list="medicines"
        #y
        [(ngModel)]="medicine"
        (change)="getAvailable()"
      />
      <datalist id="medicines">
        <option *ngFor="let _medicine of medicines" [value]="_medicine.name">
          {{ _medicine.name }}
        </option>
      </datalist>
    </div>
    <div class="formgroup">
      <label for="unit">unit</label>
      <input type="text" name="unit" id="unit" [(ngModel)]="stockItem.unit" />
    </div>
    <div class="formgroup">
      <label for="quantity">quantity</label>
      <input type="number" [(ngModel)]="requested" />
      <div class="info" *ngIf="stockItem.commodity.length > 0">
        <p *ngIf="stockItem.commodity.length > 0">
          available: {{ stockItem.stock / stockItem.unit_value }}
          {{ stockItem.unit }}
        </p>
        <p *ngIf="stockItem.commodity.length > 0">
          expiry: {{ getDate(stockItem.expiry) }}
        </p>
      </div>
    </div>

    <div class="formgroup">
      <button class="submit" (click)="add()">ADD TO ORDER</button>
    </div>
  </div>
</div>
